<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="episerver" restartOnExternalChanges="true" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration, Version=7.5.394.2, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
		<section name="episerver.baseLibrary" allowDefinition="MachineToApplication" allowLocation="false" type="EPiServer.BaseLibrary.ConfigurationHandler, EPiServer.BaseLibrary" />
		<section name="episerver.framework" restartOnExternalChanges="true" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework" />
		<section name="episerver.packaging" type="EPiServer.Packaging.Configuration.EPiServerPackagingSection, EPiServer.Packaging" />
		<section name="episerver.search" type="EPiServer.Search.Configuration.SearchSection, EPiServer.ApplicationModules" />
		<section name="episerver.search.indexingservice" type="EPiServer.Search.IndexingService.Configuration.IndexingServiceSection, EPiServer.Search.IndexingService" />
		<section name="episerver.shell" type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
		<section name="workflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="episerverModules" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="EPiServerDB" connectionString="" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
		<applicationSettings
			httpCacheability="Public"
			pageValidateTemplate="false"
			uiShowGlobalizationUserInterface="true"
			uiUrl="~/EPiServer/CMS/"
			urlRebaseKind="ToRootRelative"
			utilUrl="~/Util/"
		/>
		<workflowSettings>
			<definitions />
			<externalServices>
				<externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService, EPiServer.WorkflowFoundation" />
				<externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService, EPiServer.WorkflowFoundation" />
				<externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService, EPiServer.WorkflowFoundation" />
			</externalServices>
			<references />
			<workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager, EPiServer.WorkflowFoundation" />
		</workflowSettings>
	</episerver>
	<episerver.baseLibrary>
		<classFactories>
			<add id="ContentChannelFactory" type="EPiServer.Implementation.DefaultBaseLibraryFactory, EPiServer.Implementation">
				<register mappedType="EPiServer.ContentChannels.ContentChannelHandler, EPiServer" type="EPiServer.BaseLibrary.IContentChannelHandler, EPiServer" />
				<register mappedType="EPiServer.ContentChannels.ObjectStoreContentChannelAdministration, EPiServer" type="EPiServer.ContentChannels.ContentChannelAdministration, EPiServer" />
			</add>
			<add id="PropertyControlFactory" type="EPiServer.Core.PropertyControlClassFactory, EPiServer" />
		</classFactories>
	</episerver.baseLibrary>
	<episerver.framework>
		<appData basePath="..\Application-Data" />
		<geolocation defaultProvider="maxmind">
			<providers>
				<add name="maxmind" databaseFileName="[appDataPath]\Geolocation\GeoLiteCity.dat" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
			</providers>
		</geolocation>
		<scanAssembly forceBinFolderScan="true" />
		<virtualPathProviders>
			<clear />
			<add name="ProtectedAddons" physicalPath="[appDataPath]\Modules" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" virtualPath="~/EPiServer/" />
		</virtualPathProviders>
		<virtualRoles replacePrincipal="true">
			<providers>
				<add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
				<add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
				<add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
				<add name="CmsAdmins" mode="Any" roles="WebAdmins, Administrators" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
				<add name="CmsEditors" mode="Any" roles="WebEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
				<add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
				<add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
				<add name="PackagingAdmins" mode="Any" roles="WebAdmins, Administrators" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
			</providers>
		</virtualRoles>
	</episerver.framework>
	<episerver.packaging protectedVirtualPath="~/EPiServer/" />
	<episerver.search active="true">
		<namedIndexingServices defaultService="serviceName">
			<services>
				<add name="serviceName" accessKey="local" baseUri="http://win-pslq1rq0n7e:8080/IndexingService/IndexingService.svc" />
			</services>
		</namedIndexingServices>
		<searchResultFilter defaultInclude="true">
			<providers />
		</searchResultFilter>
	</episerver.search>
	<episerver.search.indexingservice>
		<clients>
			<add name="local" allowLocal="true" description="local" readonly="false" />
		</clients>
		<namedIndexes defaultIndex="default">
			<indexes>
				<add name="default" directoryPath="[appDataPath]\Index" readonly="false" />
			</indexes>
		</namedIndexes>
	</episerver.search.indexingservice>
	<episerver.shell>
		<protectedModules rootPath="~/EPiServer/" />
		<publicModules autoDiscovery="Modules" rootPath="~/Modules/" />
	</episerver.shell>
	<location path=".">
		<system.web>
			<authentication mode="Forms">
				<forms name=".EPiServerLogin" defaultUrl="~/" loginUrl="Util/login.aspx" timeout="120" />
			</authentication>
			<caching>
				<outputCacheSettings>
					<outputCacheProfiles>
						<add
							name="ClientResourceCache"
							duration="3600"
							enabled="true"
							varyByContentEncoding="gzip;deflate"
							varyByParam="*"
						/>
					</outputCacheProfiles>
				</outputCacheSettings>
			</caching>
			<compilation debug="false" defaultLanguage="c#" optimizeCompilations="true">
				<assemblies>
					<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				</assemblies>
			</compilation>
			<customErrors mode="RemoteOnly" />
			<globalization
				culture="en-US"
				requestEncoding="utf-8"
				resourceProviderFactoryType="EPiServer.Framework.Localization.LocalizationServiceResourceProviderFactory, EPiServer.Framework"
				responseEncoding="utf-8"
				uiCulture="en"
			/>
			<httpRuntime requestValidationMode="2.0" />
			<membership defaultProvider="WindowsMembershipProvider" hashAlgorithmType="HMACSHA512" userIsOnlineTimeWindow="10">
				<providers>
					<clear />
					<add name="MultiplexingMembershipProvider" provider1="SqlServerMembershipProvider" provider2="WindowsMembershipProvider" type="EPiServer.Security.MultiplexingMembershipProvider, EPiServer.Framework" />
					<add
						name="SqlServerMembershipProvider"
						applicationName="EPiServerSample"
						connectionStringName="EPiServerDB"
						maxInvalidPasswordAttempts="5"
						minRequiredNonalphanumericCharacters="0"
						minRequiredPasswordLength="7"
						passwordAttemptWindow="10"
						passwordFormat="Hashed"
						passwordStrengthRegularExpression=""
						requiresQuestionAndAnswer="false"
						requiresUniqueEmail="true"
						type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					/>
					<add name="WindowsMembershipProvider" deletePrefix="BUILTIN\" searchByEmail="true" type="EPiServer.Security.WindowsMembershipProvider, EPiServer" />
				</providers>
			</membership>
			<pages enableEventValidation="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validateRequest="false">
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
					<add assembly="EPiServer.Framework" namespace="EPiServer.Framework.Web.WebControls" tagPrefix="EPiServer" />
					<add assembly="EPiServer.Web.WebControls" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
					<add assembly="EPiServer.XForms" namespace="EPiServer.XForms.WebControls" tagPrefix="XForms" />
				</controls>
				<namespaces>
					<add namespace="EPiServer.Framework.Web.Mvc.Html" />
					<add namespace="EPiServer.Shell.Web.Mvc.Html" />
					<add namespace="System.Collections.Generic" />
					<add namespace="System.Linq" />
					<add namespace="System.Web.Helpers" />
					<add namespace="System.Web.Mvc" />
					<add namespace="System.Web.Mvc.Ajax" />
					<add namespace="System.Web.Mvc.Html" />
					<add namespace="System.Web.Routing" />
					<add namespace="System.Web.WebPages" />
				</namespaces>
			</pages>
			<profile automaticSaveEnabled="true" defaultProvider="SqlProfile" enabled="true">
				<properties>
					<add name="Address" type="System.String" />
					<add name="ClientToolsActivationKey" type="System.String" />
					<add name="Company" type="System.String" />
					<add name="Country" type="System.String" />
					<add name="CustomExplorerTreePanel" type="System.String" />
					<add name="EditTreeSettings" type="EPiServer.Personalization.GuiSettings, EPiServer" />
					<add name="Email" type="System.String" />
					<add name="FileManagerFavourites" type="System.Collections.Generic.List`1[System.String]" />
					<add name="FirstName" type="System.String" />
					<add name="FrameworkName" type="System.String" />
					<add name="Language" type="System.String" />
					<add name="LastName" type="System.String" />
					<add name="Locality" type="System.String" />
					<add name="Title" type="System.String" />
					<add name="ZipCode" type="System.String" />
				</properties>
				<providers>
					<clear />
					<add name="SqlProfile" applicationName="EPiServerSample" connectionStringName="EPiServerDB" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				</providers>
			</profile>
			<roleManager cacheRolesInCookie="true" defaultProvider="WindowsRoleProvider" enabled="true">
				<providers>
					<clear />
					<add
						name="MultiplexingRoleProvider"
						provider1="SqlServerRoleProvider"
						provider2="WindowsRoleProvider"
						providerMap1="SqlServerMembershipProvider"
						providerMap2="WindowsMembershipProvider"
						type="EPiServer.Security.MultiplexingRoleProvider, EPiServer.Framework"
					/>
					<add name="SqlServerRoleProvider" applicationName="EPiServerSample" connectionStringName="EPiServerDB" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
					<add name="WindowsRoleProvider" applicationName="EPiServerSample" type="EPiServer.Security.WindowsRoleProvider, EPiServer" />
				</providers>
			</roleManager>
		</system.web>
		<system.webServer>
			<caching>
				<profiles>
					<add
						duration="0.00:01:00"
						extension=".css"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".gif"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".jpeg"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".jpg"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".js"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".png"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
				</profiles>
			</caching>
			<handlers>
				<add
					name="UrlRoutingHandler"
					path="UrlRouting.axd"
					preCondition="integratedMode"
					type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					verb="*"
				/>
			</handlers>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="InitializationModule" preCondition="managedHandler" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework" />
				<add name="UrlRewriteModule" preCondition="managedHandler" type="EPiServer.Web.RoutingUrlRewriteModule, EPiServer" />
				<add name="ShellRoutingModule" type="EPiServer.Shell.Web.Routing.ShellRoutingModule, EPiServer.Shell" />
				<remove name="WebDAVModule" />
			</modules>
			<staticContent>
				<clientCache cacheControlMaxAge="1.00:00:00" cacheControlMode="UseMaxAge" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="EPiServer">
		<system.web>
			<authorization>
				<allow roles="WebEditors, WebAdmins, Administrators" />
				<deny users="*" />
			</authorization>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />
			<pages enableEventValidation="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true">
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="AssemblyResourceLoader-Integrated-4.0"
					path="WebResource.axd"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Handlers.AssemblyResourceLoader"
					verb="GET,DEBUG"
				/>
				<add
					name="PageHandlerFactory-Integrated-4.0"
					path="*.aspx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.PageHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="SimpleHandlerFactory-Integrated-4.0"
					path="*.ashx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.SimpleHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="WebServiceHandlerFactory-Integrated-4.0"
					path="*.asmx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="svc-Integrated-4.0"
					path="*.svc"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="*"
				/>
				<add name="wildcard" path="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" verb="*" />
			</handlers>
		</system.webServer>
	</location>
	<location path="EPiServer/CMS/Admin">
		<system.web>
			<authorization>
				<allow roles="WebAdmins, Administrators" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="IndexingService/IndexingService.svc">
		<system.web>
			<httpRuntime maxQueryStringLength="65536" />
		</system.web>
		<system.webServer>
			<security>
				<requestFiltering>
					<requestLimits maxQueryString="65536" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<location path="ModulesBin">
		<system.web>
			<authorization>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Util">
		<system.web>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<pages enableEventValidation="true">
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="AssemblyResourceLoader-Integrated-4.0"
					path="WebResource.axd"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Handlers.AssemblyResourceLoader"
					verb="GET,DEBUG"
				/>
				<add
					name="PageHandlerFactory-Integrated-4.0"
					path="*.aspx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.PageHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="SimpleHandlerFactory-Integrated-4.0"
					path="*.ashx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.SimpleHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="WebServiceHandlerFactory-Integrated-4.0"
					path="*.asmx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add name="wildcard" path="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" verb="*" />
			</handlers>
		</system.webServer>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" culture="neutral" publicKeyToken="407dd0808d44fbdc" />
				<bindingRedirect newVersion="3.2.0.0" oldVersion="0.0.0.0-3.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" culture="neutral" publicKeyToken="407dd0808d44fbdc" />
				<bindingRedirect newVersion="3.2.0.0" oldVersion="0.0.0.0-3.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ApplicationModules" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.BaseLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Configuration" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data.Cache" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Enterprise" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Events" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Framework" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ImageLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Implementation" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Licensing" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.LinkAnalyzer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Search.IndexingService" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="1.0.517.262-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Shell" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.UI" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Web.WebControls" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.WorkflowFoundation" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.XForms" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.5.394.2" oldVersion="0.0.0.0-7.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" culture="neutral" publicKeyToken="1b44e1d426115821" />
				<bindingRedirect newVersion="1.2.10.0" oldVersion="0.0.0.0-1.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect newVersion="4.5.0.0" oldVersion="0.0.0.0-4.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="StructureMap" culture="neutral" publicKeyToken="e60ad81abae3c223" />
				<bindingRedirect newVersion="2.6.4.0" oldVersion="0.0.0.0-2.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="4.0.0.0" oldVersion="1.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<probing privatePath="ModulesBin" />
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DebugServiceBehaviour">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="RemoteEventsBinding">
					<binaryMessageEncoding />
					<udpTransportCustom multicast="true" />
				</binding>
			</customBinding>
			<webHttpBinding>
				<binding name="IndexingServiceCustomBinding" maxBufferPoolSize="1073741824" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="10000000" />
				</binding>
			</webHttpBinding>
		</bindings>
		<client />
		<extensions>
			<bindingElementExtensions>
				<add name="udpTransportCustom" type="Microsoft.ServiceModel.Samples.UdpTransportElement, EPiServer.Events" />
			</bindingElementExtensions>
		</extensions>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="EPiServer.Events.Remote.EventReplication" />
		</services>
	</system.serviceModel>
	<workflowRuntime EnablePerformanceCounters="false">
		<Services>
			<add maxSimultaneousWorkflows="5" type="System.Workflow.Runtime.Hosting.DefaultWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add type="System.Workflow.Runtime.Hosting.SharedConnectionWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" UnloadOnIdle="true" />
		</Services>
	</workflowRuntime>
</configuration>