<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="InsertAfter(/configuration/configSections)">
		<add key="ValueFrom" value="Web.Common.config" />
		<add key="Configuration" value="Web.Common.config" />
	</appSettings>
	<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
		<sites>
			<site description="Test" siteId="Test" xdt:Locator="XPath(/configuration/*[local-name()='episerver']/*[local-name()='sites']/*[local-name()='site' and @siteId=''])" xdt:Transform="SetAttributes" />
			<site xdt:Locator="XPath(/configuration/*[local-name()='episerver']/*[local-name()='sites']/*[local-name()='site' and @siteId='Test'])">
				<siteSettings
					pageFolderVirtualPathProvider="SitePageFiles"
					siteDisplayName="Test"
					siteUrl="http://localhost/"
					xdt:Transform="SetAttributes"
				/>
			</site>
		</sites>
	</episerver>
	<location path="." xdt:Locator="Match(path)">
		<system.web>
			<httpModules>
				<add name="InitializationModule" xdt:Locator="Match(name)" xdt:Transform="Remove" />
				<add name="Initializer" xdt:Locator="Match(name)" xdt:Transform="Remove" />
				<add name="WorkflowRuntime" xdt:Locator="Match(name)" xdt:Transform="Remove" />
				<add name="UrlRewriteModule" xdt:Locator="Match(name)" xdt:Transform="Remove" />
			</httpModules>
			<profile enabled="false" xdt:Transform="SetAttributes" />
			<roleManager enabled="false" xdt:Transform="SetAttributes" />
		</system.web>
	</location>
</configuration>