_ReSharper*/
.build/
bin/
debug/
Deploy/
EPiServer/
FakesAssemblies/
obj/
Package-output/
packages/*
release/




temporary/




testresults/
*.suo
*.user
.nuget/NuGet.exe

HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication/Log/*
HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication/Views/Web.config
HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication/log4net.config
HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication/log4net.Template.config
HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication/Web.config
HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication/Web.Template.config

HansKindberg-EPiServer-Build/Build/HansKindberg-EPiServer-Build.props
HansKindberg-EPiServer-Build/Build/HansKindberg-EPiServer-Build.targets

WebApplication/Views/Web.config
WebApplication/log4net.config
WebApplication/log4net.Template.config
WebApplication/Web.config
WebApplication/Web.Template.config

!Deploy/Deploy-ReadMe.txt
!packages/repositories.config