<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appender name="FirstAppender" xdt:Transform="InsertBefore(/log4net/appender[@name='fileLogAppender'])">
		<!-- This appender is inserted when transforming EPiServer-Application-Files.x.x.x.x/Configuration/log4net.Template.config with log4net.Common.config to log4net.Template.config -->
	</appender>
	<appender name="ConfigurationAppender" type="log4net.Appender.RollingFileAppender" xdt:Transform="InsertAfter(/log4net/appender[@name='FirstAppender'])">
		<appendToFile value="true" />
		<datePattern value=".yyyyMMdd.'log'" />
		<encoding value="utf-8" />
		<file value="Log\EPiServer.log" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="log4net.Common.config - [%thread] %level %logger: %message%n" />
		</layout>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<staticLogFileName value="true" />
		<threshold value="All" />
	</appender>
	<logger name="HansKindberg.EPiServer.NuGet.Packages.Tests.WebApplication.Global" xdt:Transform="InsertBefore(/log4net/root)">
		<appender-ref ref="ConfigurationAppender" />
		<level value="All" />
	</logger>
</log4net>