<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="InsertAfter(/configuration/configSections)">
		<add key="ValueFrom" value="Web.Common.config" />
		<add key="Configuration" value="Web.Common.config" />
	</appSettings>
	<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
		<applicationSettings
			uiUrl="~/ChangedPathToEPiServer/CMS/"
			xdt:Transform="SetAttributes"
		/>
	</episerver>
	<location path="." xdt:Locator="Match(path)">
		<system.web>
			<profile enabled="false" xdt:Transform="SetAttributes" />
			<roleManager enabled="false" xdt:Transform="SetAttributes" />
		</system.web>
		<system.webServer>
			<modules>
				<add name="InitializationModule" xdt:Locator="Match(name)" xdt:Transform="Remove" />
				<add name="UrlRewriteModule" xdt:Locator="Match(name)" xdt:Transform="Remove" />
				<add name="ShellRoutingModule" xdt:Locator="Match(name)" xdt:Transform="Remove" />
			</modules>
		</system.webServer>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<bindingRedirect newVersion="7.5.1003.0" xdt:Locator="XPath(/configuration/runtime/*[local-name()='assemblyBinding']/*[local-name()='dependentAssembly']/*[local-name()='bindingRedirect' and @newVersion='7.5.394.2'])" xdt:Transform="SetAttributes" />
				<bindingRedirect newVersion="5.1.0.0" oldVersion="1.0.0.0-5.65535.65535.65535" xdt:Locator="XPath(/configuration/runtime/*[local-name()='assemblyBinding']/*[local-name()='dependentAssembly']/*[local-name()='bindingRedirect' and @newVersion='4.0.0.0'])" xdt:Transform="SetAttributes" />
			</dependentAssembly>
			<dependentAssembly xdt:Transform="Insert">
				<assemblyIdentity name="System.Web.Razor" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="2.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly xdt:Transform="Insert">
				<assemblyIdentity name="System.Web.WebPages" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="2.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly xdt:Transform="Insert">
				<assemblyIdentity name="System.Web.WebPages.Deployment" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="2.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<probing xdt:Locator="XPath(/configuration/runtime/*[local-name()='assemblyBinding']/*[local-name()='probing'])" xdt:Transform="Remove" />
		</assemblyBinding>
	</runtime>
</configuration>