<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="HansKindberg-Xml-Transformation-As-Content" version="1.0.0-alpha-0" targetFramework="net45" developmentDependency="true" />
	<package id="MSBuildTasks" version="1.4.0.65" targetFramework="net45" developmentDependency="true" />
</packages>