<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration, Version=5.2.375.133, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
		<section name="episerver.baseLibrary" allowDefinition="MachineToApplication" allowLocation="false" type="EPiServer.BaseLibrary.ConfigurationHandler, EPiServer.BaseLibrary" />
		<section name="episerver.basicAuthentication" allowLocation="true" type="EPiServer.Configuration.BasicAuthenticationSection, EPiServer.Configuration" />
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="staticFile" allowLocation="true" type="EPiServer.Configuration.StaticFileSection, EPiServer.Configuration" />
		<section name="wftools.services.common.ado" type="WFTools.Services.Common.Ado.Configuration.CommonAdoProviderSettings, EPiServer.WFTools.Services" />
		<section name="wftools.services.persistence.ado" type="WFTools.Services.Persistence.Ado.Configuration.PersistenceAdoProviderSettings, EPiServer.WFTools.Services" />
		<section name="wftools.services.tracking.ado" type="WFTools.Services.Tracking.Ado.Configuration.TrackingAdoProviderSettings, EPiServer.WFTools.Services" />
		<section name="workflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="episerverModules" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="EPiServerDB" connectionString="" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
		<dynamicContent>
			<controls>
				<add name="PagePropertyPlugin" description="Displays a property from any page" type="EPiServer.DynamicContent.PlugIn.DynamicPageProperty, EPiServer" />
			</controls>
		</dynamicContent>
		<imageEditor enabled="true" windowHeight="600" windowWidth="900">
			<sizePresets>
				<preset height="240" width="320" />
				<preset height="480" width="640" />
			</sizePresets>
		</imageEditor>
		<sites>
			<site description="" siteId="">
				<siteSettings
					categoryId="1"
					enableEvents="true"
					enableRemoteEvents="false"
					enableScheduler="true"
					errorMailHandler="~/Util/SendErrorReport.aspx"
					globalErrorHandling="RemoteOnly"
					globalErrorMail=""
					httpCacheability="Public"
					httpCacheExpiration="0:0:0"
					httpCacheVaryByCustom="path"
					httpCacheVaryByParams="id,epslanguage"
					indexingDelayAfterPublish="0:0:20"
					indexingTextRegExp="[\p{N}\p{L}]{1}[\p{N}\p{L}-\._]*[\p{N}\p{L}]{1}"
					logServiceUrl="soap.tcp://localhost/TimeSpanAnalyzerView"
					mirroringFileWriteRetryDelay="0:0:5"
					mirroringHtmlTextEncoding=""
					mirroringRetries="5"
					mirroringRetryDelay="0:0:1"
					operationCompatibility="None"
					pageCacheSlidingExpiration="12:0:0"
					pageFolderVirtualPathProvider="ContentFiles"
					pageOfficeStartId="0"
					pageRootId="1"
					pageStartId="3"
					pageUseBrowserLanguagePreferences="false"
					pageValidateTemplate="false"
					pageWastebasketId="2"
					remoteCacheListenerShortNames=""
					remotePageCacheSlidingExpiration="2:0:0"
					remoteWebServiceCulture="0"
					sgmlParserDecodeCharEntities="false"
					siteDisplayName=""
					siteUrl="http://localhost/"
					stringCompressionThreshold="0"
					stringDelayedLoadThreshold="0"
					subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer"
					uiDefaultPanelTab="0"
					uiEditorColors=""
					uiEditorCssPaths=""
					uiEditorHeight="250"
					uiEditorValueOptions="0"
					uiEditorWidth="500"
					uiImageTransparencyReplacement="White"
					uiKeepUserLoggedOn="true"
					uiMaxVersions="0"
					uiOptimizeTreeForSpeed="false"
					uiSafeHtmlTags="b,i,u,br"
					uiShowGlobalizationUserInterface="true"
					uiTheme=""
					uiUrl="~/EPiServer/"
					uiVersionMerging="true"
					urlRebaseKind="ToRootRelative"
					urlRewriteExtension=""
					utilUrl="~/Util/"
				/>
			</site>
		</sites>
		<urlRewrite defaultProvider="EPiServerFriendlyUrlRewriteProvider">
			<providers>
				<add name="EPiServerFriendlyUrlRewriteProvider" description="EPiServer standard Friendly URL rewriter" type="EPiServer.Web.FriendlyUrlRewriteProvider, EPiServer" />
				<add name="EPiServerIdentityUrlRewriteProvider" description="EPiServer identity URL rewriter" type="EPiServer.Web.IdentityUrlRewriteProvider, EPiServer" />
				<add name="EPiServerNullUrlRewriteProvider" description="EPiServer bypass URL rewriter" type="EPiServer.Web.NullUrlRewriteProvider, EPiServer" />
			</providers>
		</urlRewrite>
		<virtualPath customFileSummary="~/FileSummary.config">
			<filters />
			<providers>
				<clear />
				<add name="App_Themes_Default" physicalPath="C:\Program Files\EPiServer\CMS\5.2.375.133\Application\App_Themes\Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer" virtualPath="~/App_Themes/Default/" />
				<add
					name="ContentFiles"
					bypassAccessCheck="false"
					indexingServiceCatalog="Web"
					physicalPath=""
					showInFileManager="false"
					type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer"
					virtualName="Content files"
					virtualPath="~/ContentFiles/"
				/>
				<add
					name="Documents"
					bypassAccessCheck="false"
					maxVersions="5"
					physicalPath=""
					showInFileManager="true"
					type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer"
					virtualName="Documents"
					virtualPath="~/Documents/"
				/>
				<add
					name="Global"
					bypassAccessCheck="false"
					indexingServiceCatalog="Web"
					physicalPath=""
					showInFileManager="true"
					type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer"
					virtualName="Global files"
					virtualPath="~/Global/"
				/>
				<add name="UI" physicalPath="C:\Program Files\EPiServer\CMS\5.2.375.133\Application\UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer" virtualPath="~/EPiServer/" />
				<add name="UtilFiles" physicalPath="C:\Program Files\EPiServer\CMS\5.2.375.133\Application\Util" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer" virtualPath="~/Util/" />
				<add name="WebServiceFiles" physicalPath="C:\Program Files\EPiServer\CMS\5.2.375.133\Application\WebServices" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer" virtualPath="~/WebServices/" />
			</providers>
		</virtualPath>
		<virtualPathMappings />
		<virtualRoles replacePrincipal="true">
			<providers>
				<add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer" />
				<add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer" />
				<add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer" />
				<add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
				<add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer" />
			</providers>
		</virtualRoles>
		<workflowSettings workflowDelayedLoading="false">
			<definitions />
			<externalServices>
				<externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService, EPiServer.WorkflowFoundation" />
				<externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService, EPiServer.WorkflowFoundation" />
				<externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService, EPiServer.WorkflowFoundation" />
			</externalServices>
			<references />
			<workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager, EPiServer.WorkflowFoundation" />
		</workflowSettings>
	</episerver>
	<episerver.baseLibrary>
		<classFactories>
			<add id="ContentChannelFactory" type="EPiServer.Implementation.DefaultBaseLibraryFactory, EPiServer.Implementation">
				<register mappedType="EPiServer.ContentChannels.ContentChannelHandler, EPiServer" type="EPiServer.BaseLibrary.IContentChannelHandler, EPiServer" />
				<register mappedType="EPiServer.ContentChannels.ObjectStoreContentChannelAdministration, EPiServer" type="EPiServer.ContentChannels.ContentChannelAdministration, EPiServer" />
			</add>
		</classFactories>
	</episerver.baseLibrary>
	<location path="ContentFiles">
		<staticFile expirationTime="-1.0:0:0" />
		<system.web>
			<httpHandlers>
				<add path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" verb="GET" />
				<add path="*" type="EPiServer.Web.StaticFileHandler, EPiServer" validate="true" verb="*" />
			</httpHandlers>
		</system.web>
	</location>
	<location path="Documents">
		<staticFile expirationTime="-1.0:0:0" />
		<system.web>
			<httpHandlers>
				<add path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" verb="GET" />
				<add path="*" type="EPiServer.Web.StaticFileHandler, EPiServer" validate="true" verb="*" />
			</httpHandlers>
		</system.web>
	</location>
	<location path="EPiServer">
		<system.web>
			<authorization>
				<allow roles="WebEditors, WebAdmins, Administrators" />
				<deny users="*" />
			</authorization>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<httpHandlers>
				<clear />
				<add path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" verb="GET" />
				<add path="*.aspx" type="System.Web.UI.PageHandlerFactory" validate="true" verb="*" />
				<add path="*.ashx" type="System.Web.UI.SimpleHandlerFactory" validate="true" verb="*" />
				<add path="*.asmx" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" verb="*" />
				<add path="*.ascx" type="System.Web.HttpForbiddenHandler" validate="true" verb="*" />
				<add path="*" type="EPiServer.Web.StaticFileHandler, EPiServer" validate="true" verb="*" />
			</httpHandlers>
			<httpRuntime maxRequestLength="1000000" />
			<pages>
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
	</location>
	<location path="EPiServer/Admin">
		<system.web>
			<authorization>
				<allow roles="WebAdmins, Administrators" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Global">
		<staticFile expirationTime="-1.0:0:0" />
		<system.web>
			<httpHandlers>
				<add path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" verb="GET" />
				<add path="*" type="EPiServer.Web.StaticFileHandler, EPiServer" validate="true" verb="*" />
			</httpHandlers>
		</system.web>
	</location>
	<location path="Util">
		<system.web>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<httpHandlers>
				<add path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" verb="GET" />
				<add path="*.aspx" type="System.Web.UI.PageHandlerFactory" validate="true" verb="*" />
				<add path="*.ashx" type="System.Web.UI.SimpleHandlerFactory" validate="true" verb="*" />
				<add path="*.asmx" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" verb="*" />
				<add path="*" type="EPiServer.Web.StaticFileHandler, EPiServer" validate="true" verb="*" />
			</httpHandlers>
			<pages>
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
	</location>
	<location path="WebServices">
		<episerver.basicAuthentication basicRealm="" sendBasicChallenge="true" />
		<system.web>
			<authorization>
				<allow roles="WebServices,Administrators" />
				<deny users="*" />
			</authorization>
			<httpRuntime maxRequestLength="1000000" />
		</system.web>
	</location>
	<microsoft.web.services3>
		<messaging>
			<transports>
				<add scheme="soap.tcp">
					<defaultPort value="8082" />
				</add>
			</transports>
		</messaging>
	</microsoft.web.services3>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ElektroPost.Licensing" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.BaseLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Blog" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Configuration" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Enterprise" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Events" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ImageLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Implementation" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Legacy4" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Log.Analyzers" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Log.Core" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Lucene" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Scheduler" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Scheduler.WKTL" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.1.422.4" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.UI" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Web.WebControls" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.WebDav" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.WebParts" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.WorkflowFoundation" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Wsrp" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.XForms" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.XmlRpc" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="5.2.375.133" oldVersion="5.0.0.0-5.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" culture="neutral" publicKeyToken="1b44e1d426115821" />
				<bindingRedirect newVersion="1.2.10.0" oldVersion="1.0.0.0-1.65535.65535.65535" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Services3" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="3.0.0.0-3.65535.65535.65535" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<staticFile expirationTime="12:0:0" />
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="PickupDirectoryFromIis" />
		</mailSettings>
	</system.net>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DebugServiceBehaviour">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="RemoteEventsBinding">
					<binaryMessageEncoding />
					<udpTransport multicast="true" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint
				name="RemoteEventServiceClientEndPoint"
				address="soap.udp://239.255.255.19:5000/RemoteEventService"
				binding="customBinding"
				bindingConfiguration="RemoteEventsBinding"
				contract="EPiServer.Events.ServiceModel.IEventReplication"
			/>
		</client>
		<extensions>
			<bindingElementExtensions>
				<add name="udpTransport" type="Microsoft.ServiceModel.Samples.UdpTransportElement, EPiServer.Implementation" />
			</bindingElementExtensions>
		</extensions>
		<services>
			<service name="EPiServer.Events.Remote.EventReplication" behaviorConfiguration="DebugServiceBehaviour">
				<endpoint
					name="RemoteEventServiceEndPoint"
					address="soap.udp://239.255.255.19:5000/RemoteEventService"
					binding="customBinding"
					bindingConfiguration="RemoteEventsBinding"
					contract="EPiServer.Events.ServiceModel.IEventReplication"
				/>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<authentication mode="Forms">
			<forms name=".EPiServerLogin" loginUrl="Util/Login.aspx" timeout="120" />
		</authentication>
		<compilation debug="false" defaultLanguage="c#" />
		<customErrors mode="RemoteOnly" />
		<globalization
			culture="en-US"
			requestEncoding="utf-8"
			resourceProviderFactoryType="EPiServer.Resources.XmlResourceProviderFactory, EPiServer"
			responseEncoding="utf-8"
			uiCulture="en"
		/>
		<httpHandlers>
			<add path="*.png" type="EPiServer.Web.StaticFileHandler, EPiServer" verb="GET,HEAD" />
			<add path="*.jpg" type="EPiServer.Web.StaticFileHandler, EPiServer" verb="GET,HEAD" />
			<add path="*.jpeg" type="EPiServer.Web.StaticFileHandler, EPiServer" verb="GET,HEAD" />
			<add path="*.css" type="EPiServer.Web.StaticFileHandler, EPiServer" verb="GET,HEAD" />
			<add path="*.js" type="EPiServer.Web.StaticFileHandler, EPiServer" verb="GET,HEAD" />
			<add path="*.gif" type="EPiServer.Web.StaticFileHandler, EPiServer" verb="GET,HEAD" />
		</httpHandlers>
		<httpModules>
			<add name="InitializationModule" type="EPiServer.Web.InitializationModule, EPiServer" />
			<add name="Initializer" type="EPiServer.Scheduler.Initializer, EPiServer.Scheduler" />
			<add name="WorkflowRuntime" type="EPiServer.WorkflowFoundation.WorkflowSystem, EPiServer.WorkflowFoundation" />
			<add name="UrlRewriteModule" type="EPiServer.Web.UrlRewriteModule, EPiServer" />
		</httpModules>
		<membership defaultProvider="WindowsMembershipProvider" userIsOnlineTimeWindow="10">
			<providers>
				<clear />
				<add name="MultiplexingMembershipProvider" provider1="SqlServerMembershipProvider" provider2="WindowsMembershipProvider" type="EPiServer.Security.MultiplexingMembershipProvider, EPiServer" />
				<add
					name="SqlServerMembershipProvider"
					applicationName=""
					connectionStringName="EPiServerDB"
					maxInvalidPasswordAttempts="5"
					minRequiredNonalphanumericCharacters="0"
					minRequiredPasswordLength="7"
					passwordAttemptWindow="10"
					passwordFormat="Hashed"
					passwordStrengthRegularExpression=""
					requiresQuestionAndAnswer="false"
					requiresUniqueEmail="true"
					type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
				/>
				<add name="WindowsMembershipProvider" deletePrefix="BUILTIN\" searchByEmail="true" type="EPiServer.Security.WindowsMembershipProvider, EPiServer" />
			</providers>
		</membership>
		<pages enableEventValidation="false" validateRequest="false">
			<controls>
				<add assembly="EPiServer" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
				<add assembly="EPiServer" namespace="EPiServer.WebControls" tagPrefix="EPiServer" />
				<add assembly="EPiServer" namespace="EPiServer.WebParts.WebControls" tagPrefix="WebParts" />
				<add assembly="EPiServer.Web.WebControls" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
				<add assembly="EPiServer.XForms" namespace="EPiServer.XForms.WebControls" tagPrefix="XForms" />
			</controls>
		</pages>
		<profile automaticSaveEnabled="true" defaultProvider="SqlProfile" enabled="true">
			<properties>
				<add name="Address" type="System.String" />
				<add name="ClientToolsActivationKey" type="System.String" />
				<add name="Company" type="System.String" />
				<add name="Country" type="System.String" />
				<add name="CustomExplorerTreePanel" type="System.String" />
				<add name="EditTreeSettings" type="EPiServer.Personalization.GuiSettings, EPiServer" />
				<add name="Email" type="System.String" />
				<add name="FileManagerFavourites" type="System.Collections.Generic.List`1[System.String]" />
				<add name="FirstName" type="System.String" />
				<add name="FrameworkName" type="System.String" />
				<add name="Language" type="System.String" />
				<add name="LastName" type="System.String" />
				<add name="Locality" type="System.String" />
				<add name="SubscriptionInfo" type="EPiServer.Personalization.SubscriptionInfo, EPiServer" />
				<add name="Title" type="System.String" />
				<add name="ZipCode" type="System.String" />
			</properties>
			<providers>
				<clear />
				<add name="SqlProfile" applicationName="" connectionStringName="EPiServerDB" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</profile>
		<roleManager cacheRolesInCookie="true" defaultProvider="WindowsRoleProvider" enabled="true">
			<providers>
				<clear />
				<add
					name="MultiplexingRoleProvider"
					provider1="SqlServerRoleProvider"
					provider2="WindowsRoleProvider"
					providerMap1="SqlServermembershipProvider"
					providerMap2="WindowsMembershipProvider"
					type="EPiServer.Security.MultiplexingRoleProvider, EPiServer"
				/>
				<add name="SqlServerRoleProvider" applicationName="" connectionStringName="EPiServerDB" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add name="WindowsRoleProvider" applicationName="" type="EPiServer.Security.WindowsRoleProvider, EPiServer" />
			</providers>
		</roleManager>
		<sessionState
			cookieless="false"
			mode="InProc"
			sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			stateConnectionString="tcpip=127.0.0.1:42424"
			timeout="20"
		/>
		<trace
			enabled="false"
			localOnly="true"
			pageOutput="false"
			requestLimit="10"
			traceMode="SortByTime"
		/>
	</system.web>
	<workflowRuntime EnablePerformanceCounters="false">
		<Services>
			<add maxSimultaneousWorkflows="5" type="System.Workflow.Runtime.Hosting.DefaultWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add type="System.Workflow.Runtime.Hosting.SharedConnectionWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" UnloadOnIdle="true" />
		</Services>
	</workflowRuntime>
</configuration>